<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Girish-Job portal System</title>
</head>
<body> 
   <div class="container mt-5">         
        {% include 'candidate/candidatenavbar.html' %}
        {% for item in data %}       
        <div class="card" style="width: 18rem;">        
            <div class="card-body">                 
                    <h8 class="card-title">Job Id : {{ item.id }}</h8>
                    <h5 class="card-title">{{ item.title }} @ {{ item.company_name }}</h5>
                    <h7 class="card-title">Compensation: {{ item.salary_rannge_min }}-{{ item.salary_rannge_max }}</h7>                                        
                    <a href="{% url 'candidateapplication' pk=item.id %}" class="btn btn-primary">Apply</a>                

            </div>
        </div>
        {% endfor %}
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
